/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header, footer {
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}

.about {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back-button a {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button a:hover {
    background-color: #0056b3;
}
